body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    margin:0;
    padding:20px;
}

.dashboard{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

h1{
    color:#38bdf8;
}

.card{
    background:#334155;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
}
